---
import Layout from "../layouts/Layout.astro";

import HeroContact from "../components/HeroContact.astro";
---

<Layout>
  <section
    class="min-h-screen from-gray-900 via-gray-800 to-black text-white px-6"
  >
    <!-- Título principal -->

    <HeroContact />


  </section>
</Layout>
