---
---

<nav class="flex items-center justify-between bg-gray-800 px-6 py-4">
  <!-- Logo -->
  <div class="flex items-center">
    <img src="/assets/logos/GMGTechLogoDark.png" alt="Imagen Logo" class="h-16 w-auto transition-transform duration-300 hover:scale-110">
  </div>

  <!-- Links -->
  <div class="flex items-center gap-4 text-white text-lg ">
    <a class="m-4 hover:text-blue-300" href="/inicio" class="hover:text-gray-300">Inicio</a>
    <a class="m-4 hover:text-blue-300" href="/servicios" class="hover:text-gray-300">Servicios</a>
    <a class="m-4 hover:text-blue-300" href="/contacto" class="hover:text-gray-300">Contacto</a>
  </div>
</nav>
