---

---

<nav
  class="fixed top-0 left-0 w-full flex items-center justify-between
            bg-gray-800/30 backdrop-blur-md px-6 py-4 z-50"
>
  <!-- Logo -->
  <div class="flex items-center">
    <img
      src="/logos/GMGTechLogoDark.png"
      alt="Imagen Logo"
      class="h-16 w-auto transition-transform duration-300 hover:scale-110"
    />
  </div>

  <!-- Links -->
  <div class="flex items-center gap-4 text-white text-lg">
    <a class="m-4 hover:text-blue-300" href="/inicio">Inicio</a>
    <a class="m-4 hover:text-blue-300" href="/servicios">Servicios</a>
    <a class="m-4 hover:text-blue-300" href="/contacto">Contacto</a>
  </div>
</nav>
